@import "/src/stories/core/theme.css";

.storybook-text-field {
    border-radius:3px;
    border:1px solid var(--bg-lighter);
    padding:10px 15px;
    background-color:var(--bg-light);
    color:white;
}

.storybook-text-field:hover {
    border:1px solid white;
}

.storybook-text-field:active {
    border:1px solid var(--primary) !important;
}

.storybook-text-field--large {
    font-size: 1rem;
}

.storybook-text-field--small {
    font-size: 0.8rem;
}